.header-blue {
  background: linear-gradient(135deg, #591e94, #7524c5);
  background-color: #8743cc;
  padding-bottom: 80px;
  font-family: 'Source Sans Pro', sans-serif;
}
@media (min-width:768px) {
  .header-blue {
    padding-bottom: 120px;
  }
}
@media (min-width:768px) {
  .header-blue .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.header-blue .action-button,
.header-blue .action-button:not(.disabled):active {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: .3rem .8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
}
.header-blue .action-button:hover {
  color: #fff;
}

.header-blue .navbar .form-inline label {
  color: #d9d9d9;
}
.header-blue .hero {
  text-align: center;
}
@media (min-width:768px) {
  .header-blue .hero {
    margin-top: 0px;
    text-align: left;
  }
}
.header-blue .hero h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width:992px) {
  .header-blue .hero h1 {
    margin-top: 190px;
    margin-bottom: 24px;
    line-height: 1.2;
  }
}
.header-blue .hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}
.header-blue .phone-holder {
  text-align: right;
  margin-top: 100px;
}
.header-blue div.iphone-mockup {
  position: relative;

  margin: 20px 60px 20px 20px;
  display: inline-block;
}